@font-face {
  font-family: "Wattauchimma";
  src: url(../fonts/Wattauchimma.ttf);
}

@font-face {
  font-family: "Feature-Mono-regular";
  src: url(../fonts/FeatureMono-Regular.ttf);
}

@font-face {
  font-family: "Feature-Mono-medium";
  src: url(../fonts/FeatureMono-Medium.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
}