@import "@/app/styles/variables.scss";

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(80, 80, 80);
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  margin: 0;
  font-family: $font-text-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $white;
}
