// colors
$primary-600: #b13517;
$primary-500: #cf5335;
$secondary-700: #220b51;
$secondary-500: #2e0a9e;
$black: #1f1f1f;
$dark: #0b0b0b;
$gray-600: #979797;
$gray-500: #d3d3d3;
$gray-400: #eeeeee;
$white: #fbf9ff;
$planet-shadow: #f59c6740;
$modal-background: #f5f5f5;

// colors with opacity
$opacity-gray: #292929;
$opacity-dark: #0b0b0b80;
$opacity-white: #fbf9ff80;
$opacity-primary-500: #cf533580;

// background colors
$nebula-purple: #341b82;
$nebula-blue: #448ea680;
$shine: #fdff94;

// gradients
$planet-gradient: radial-gradient(
  110.46% 110.46% at 100% 1.64%,
  #f8b07d 12.44%,
  #e74e11 39.62%,
  #b50d02 60.27%,
  #8b0e05 75.93%,
  #5e0d02 95.93%
);

$progress-bar-progress: linear-gradient(
  90deg,
  $primary-500 50%,
  $black 50%,
);

$progress-bar-line: linear-gradient(
  90deg,
  $opacity-white 50%,
  $black 50%,
);

// fonts
$font-montserrat: "Montserrat";
$font-heading: "Wattauchimma";
$font-text-regular: "Feature-Mono-regular";
$font-text-medium: "Feature-Mono-medium";
