.orbit {
  position: absolute;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &_planet {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      text-align: center;

    }

    &_planet-name {
      z-index: 1;
      font-weight: bold;
      font-size: 12px;
    }
  }
}