.orbit {
  position: absolute;
  border-radius: 50%;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;

    &-system {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: unset;
      text-align: center;

      &--name {
        z-index: 0;
        font-weight: bold;
        font-size: 10px;
      }
    }
  }
}