@import "@app/styles/variables.scss";

.star-progress {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;

  &__svg {
    position: absolute;

    &-path {
      fill: #7c7abd;
      stroke: $white;
    }
  }
}