@import '@app/styles/variables.scss';

.background-users-list {
    background-image: url(../../images/list-bg.png);
    background-color: $dark;
    overflow: hidden;
    background-attachment: local;
    position: absolute;
    z-index: -1;
    min-height: 170%;
    width: 100%;

    &__star-first,
    &__star-second,
    &__star-third,
    &__star-fourth {
        position: absolute;
    }

    &__star-first {
        left: calc(50% - 15px / 2 - 840px);
        top: calc(50% - 18px / 2 - 262px);
    }

    &__star-second {
        left: calc(50% - 15px / 2 + 55px);
        top: calc(50% - 18px / 2 - 424px);
    }

    &__star-third {
        left: calc(50% - 20px / 2 - 306px);
        top: calc(50% - 24px / 2 + 681px);
    }

    &__star-fourth {
        left: calc(50% - 20px / 2 - 713px);
        top: calc(50% - 24px / 2 + 247px);
    }
}
