@import '@app/styles/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        @media screen and (max-width: $drawerMenuAdaptiveWidth) {
            display: none;
        }
    }

    &__logo {
        color: $white;
    }

    &__link {
        font-size: 14px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &--active a{
            color: $primary-500;
        }
    }

    &__icon {
        margin-left: 10px;
        margin-right: 2px;
    }

    &__burger-menu-button {
        @media screen and (min-width: $drawerMenuAdaptiveWidth) {
            display: none;
        }
    }
}
