
.group-details-current-homework {
  &__summary {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__summary-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    align-self: start;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__card-content {
    display: flex;
    justify-content: space-between;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    &:hover {
      .group-details-current-homework__button-extra {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__button-extra {
    transition: 200ms;
    opacity: 0;
    pointer-events: none;
  }
}
