@import "src/app/styles/variables";

.planet-list-tabs {
  &__lock-icon {
    transition: opacity 0.3s;
    opacity: 0;
  }

  &__item-text {
    color: $gray-600;
  }

  &__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 13px 10px;
    gap: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s;
    border-left: 3px solid transparent;
    cursor: pointer;


    &:hover {
      .planet-list-tabs__item-text {
        color: $white
      }

      .planet-list-tabs__lock-icon {
        opacity: 1;
      }
    }

    &--selected {
      background-color: $white;
      border-left-color: $primary-500;
      padding-top: 17px;
      padding-bottom: 17px;


      .planet-list-tabs__item-text {
        color: $black;
      }

      &:hover {
        .planet-list-tabs__item-text {
          color: $black
        }
      }
    }

    &--education {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding-right: 20px;

      &:after {
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-right: 10px solid $primary-600;
        position: absolute;
        right: 10px;
      }

    }
  }

  &__waiting-text {
    color: $primary-600;
  }
}