.star {
  background: #CF5335;

  &:hover {
    animation-name: star;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  
    @keyframes star{
      from {
        background: #cf54358f;
      }
      to {
        background: #CF5335;
      }
    }
  }
}

.star--black {
  background: #0B0B0B;

  &:hover {
    animation-name: star_black;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  
    @keyframes star_black{
      from {
        background: #0b0b0b7c;
      }
      to {
        background: #0B0B0B;
      }
    }
  }

  .lock-icon {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.star--white {
  background: #FBF9FF;

  &:hover {
    animation-name: star_white;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  
    @keyframes star_white{
      from {
        background: #fbf9ff71;
      }
      to {
        background: #FBF9FF;
      }
    }
  }
}

.star-info {
  color: #FBF9FF;
}

.star-info--black {
  color: #0B0B0B;
}

.star,
.star--black,
.star--white {
  cursor: pointer;
  border-radius: 99px;
  height: 80px;
  font-family: 'Montserrat', sans-serif;
  width: 80px;
  transition: .3s;

  .star-info,
  .star-info--black {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .orbit {
      padding: 5px;
      filter: opacity(0);
      margin-top: 5px;
      margin-right: 2px;
      position: absolute;
      transition: 0.3s;
      transform: scale(0.75);

      &:hover {
        filter: opacity(1);
        padding: 0px;
        transition: 0.3s;
        transform: scale(1);
      }
    }
  }
}