@import "@/app/styles/variables.scss";

.rating-info {
  margin: 8px 0;
  display: flex;
  align-items: center;

  .rating-info__user-name {
    padding: 0 24px 0 15px;
    white-space: nowrap; /* Текст не переносится */
  }

  .rating-info__user-score {
    color: $white;
    display: flex;
    align-items: center;
  }

  .rating-info__user-score-star {
    color: $primary-500;
  }

  .rating-info__user-score-num {
    margin-left: 5px;
  }
}
