@import "@app/styles/variables.scss";

.rating-info {
  display: flex;
  align-items: center;

  &__user-name {
    padding: 0 24px 0 15px;
    white-space: nowrap; /* Текст не переносится */
  }

  &__user-score {
    color: $white;
    display: flex;
    align-items: center;
  }

  &__user-score-star {
    color: $primary-500;
  }

  &__user-score-num {
    margin-left: 5px;
  }
}
