.rating-info {
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .rating-info__user-name {
    padding: 0 20px 0 15px;
    white-space: nowrap; /* Текст не переносится */
  }

  .rating-info__user-score {
    color: #fbf9ff;
    display: flex;
    align-items: center;
  }

  .rating-info__user-score-star {
    color: #cf5335;
  }

  .rating-info__user-score-num {
    margin-left: 5px;
  }
}
