@import "@app/styles/variables.scss";

.login {
  cursor: default;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  &__heading {
    font-size: 26px;
    color: $white;
    font-weight: 600;
    font-family: $font-heading;
    margin-bottom: 30px;
  }

  &__hint {
    margin-top: 24px;
    color: $white;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 5px;
    transition: 0.5s;

    &:hover {
      transition: 0.5s;
      text-decoration: underline 2px;
      text-decoration-color: $white;
      text-underline-offset: 5px;
    }
  }
}
