@import '@app/styles/variables.scss';

.login {
    cursor: default;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    &__heading {
        margin-bottom: 30px;
    }
}
