@import "@/app/styles/colors.scss";

.login {
  cursor: default;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  .login__heading {
    font-size: 18px;
    color: $white;
    font-weight: 600;
    font-family: "Unbounded", cursive;
    margin-bottom: 30px;
  }

  .login__hint {
    margin-top: 24px;
    color: $white;
    font-size: 14px;

    .login__hint-registration {
      font-weight: 600;
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: transparent;
      text-underline-offset: 5px;
      transition: 0.5s;

      &:hover {
        transition: 0.5s;
        text-decoration: underline 2px;
        text-decoration-color: $white;
        text-underline-offset: 5px;
      }
    }
  }
}
