@import '@app/styles/variables.scss';

.stars-list {
    color: $white;
    font-size: 12px;

    &__label {
        margin-top: 2px;
        margin-bottom: 8px;
    }

    &__stars {
        display: flex;
        gap: 24px;
    }

    &__star-rating {
        display: flex;
        align-items: center;
    }

    &__star-rating-score {
        font-size: 10px;
        margin: 0 2px 0 4px;
    }
}