@import "@app/styles/variables.scss";

.galaxyPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: $dark;
}