@import '@app/styles/variables.scss';

.input {
  transition: 0.2s;

  &--variant-default {
    min-width: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: .2s;
    outline: 0;
    font-size: 16px;
    border: 1px solid $gray-600;
    color: $black;

    &:focus {
      border: 1px solid $black;
    }

  }

  &--variant-rounded {
    font-size: 16px;
    font-family: $font-text-regular;
    cursor: text;
    text-align: left;
    margin-bottom: 16px;
    padding: 16px 24px;
    width: 340px;
    background-color: $white;
    border: 1px solid transparent;
    border-radius: 56px;
    outline: none;

    &:focus {
      border: 1px solid $black;
    }
  }

  &--fullwidth {
    width: 100%;
  }

  //&:hover {
  //  border: 1px solid $black;
  //}

}
