@import "@app/styles/variables.scss";

.card-group-details {
  transition: all 0.5s;
  border-radius: 10px;
  justify-content: space-between;
  height: fit-content;
  width: 100%;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__group-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    pointer-events: none;
    transition: opacity .6s;

    opacity: 0;
  }

  &__card {
    border-radius: 10px;
    transition: all .4s;
    border: 1px solid;
  }

  &--active {
    .card-group-details__card {
      border: 1px solid $gray-600;
    }

    .card-group-details__group-list {
      opacity: 1;
      pointer-events: all;
      padding: 6px 4px 4px;
    }
  }

  &--inactive {
    .card-group-details__card {
      border-color: transparent;
    }

    .card-group-details__group-list {
      opacity: 0;
      pointer-events: none;
      padding: 0;
    }

  }

  &__show-more-wrapper {
    margin-left: 10px;
  }
}
