@import "@/app/styles/colors.scss";

.header {
  background: $opacity-dark;
  width: 100%;
  height: 100px;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 240px;

    .header__container-logo {
      color: $white;
    }

    .header__container-heading {
      color: $white;
      font-size: 32px;
      font-family: "Poppins", sans-serif;
    }
  }
}
