@import "@app/styles/variables.scss";

.header {
  background: $opacity-dark;
  height: 100px;
  width: 100%;
  z-index: 1;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  &__logo {
    color: $white;
  }
}
