@import "@/app/styles/colors.scss";

.explorer {
  overflow: overlay;
  position: absolute;
  width: 100%;
  color: $white;
  height: 100%;
  background-image: url(../../../shared/images/backgrounds/profileBG.png);
  background-size: 100%;
  background-color: $dark;

  .container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 24px;
    justify-content: space-between;
    margin: 40px 240px;

    .profile-info {
      display: flex;
      margin-bottom: 40px;

      .info {
        margin-left: 40px;

        .info__name {
          margin-top: 0;
          font-size: 35px;
          font-family: $font-heading;
        }

        .info-results {
          display: flex;
          gap: 16px;

          .info-results__rating {
            display: flex;
            align-items: center;
            margin-top: 6px;

            .info-results__rating-star {
              margin-top: 4px;
              color: $primary-500;
            }

            .info-results__rating-text {
              margin: 0 5px;
            }
          }

          .info-results__rating-finished {
            margin: 0;
            padding-top: 8px;
          }
        }
      }
    }

    .container__rating-heading {
      margin-top: 0;
      margin-bottom: 24px;
    }

    .container__profile-heading,
    .container__rating-heading,
    .container__completed-stars-heading {
      font-size: 26px;
      color: $white;
      font-family: $font-heading;
    }

    .container__completed-stars-heading {
      padding-top: 24px;
    }
  }
}
