@import "@app/styles/variables.scss";

.background-galaxies-page {
	background-image: url(../../images/galaxies-bg.png);
	background-color: $dark;
	overflow: hidden;
	background-attachment: local;
	position: absolute;
	z-index: -1;
	min-height: 210%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: repeat;

	&__star-first,
	&__star-second,
	&__star-third,
	&__star-fourth,
	&__star-fifth,
	&__star-sixth,
	&__star-seventh,
	&__star-eighth,
	&__star-ninth,
	&__star-tenth,
	&__star-eleventh,
	&__star-twelfth,
	&__star-thirteenth {
		position: absolute;
	}

	&__star-first {
		left: calc(50% - 15px / 2 - 780px);
		top: calc(50% - 18px / 2 - 36px);
	}

	&__star-second {
		left: calc(50% - 15px / 2 + 55px);
		top: calc(50% - 18px / 2 - 424px);
	}

	&__star-third {
		left: calc(50% - 20px / 2 - 306px);
		top: calc(50% - 24px / 2 + 978px);
	}

	&__star-fourth {
		left: calc(50% - 20px / 2 - 713px);
		top: calc(50% - 24px / 2 + 247px);
	}

	&__star-fifth {
		left: calc(50% - 20px / 2 + 364px);
		top: calc(50% - 24px / 2 - 114px);
	}

	&__star-sixth {
		left: calc(50% - 15px / 2 + 478.5px);
		top: calc(50% - 18px / 2 - 377px);
	}

	&__star-seventh {
		left: calc(50% - 15px / 2 - 710.5px);
		top: calc(50% - 18px / 2 + 1174px);
	}

	&__star-eighth {
		left: calc(50% - 15px / 2 + 149px);
		top: calc(50% - 18px / 2 - 58px);
	}

	&__star-ninth {
		left: calc(50% - 15px / 2 + 500px);
		top: calc(50% - 18px / 2 - 45px);
	}

	&__star-tenth {
		left: calc(50% - 15px / 2 - 500px);
		top: calc(50% - 18px / 2 - 345px);
	}

	&__star-eleventh {
		left: calc(50% - 15px / 2 + 250px);
		top: calc(50% - 18px / 2 - 800px);
	}

	&__star-twelfth {
		left: calc(50% - 15px / 2 - 350px);
		top: calc(50% - 18px / 2 + 400px);
	}

	&__star-thirteenth {
		left: calc(50% - 15px / 2 + 400px);
		top: calc(50% - 18px / 2 + 500px);
	}
}
