@import "@app/styles/variables.scss";

.background-galaxies-page {
	background-image: url(../../images/galaxies-bg.png);
	background-color: $dark;
	overflow: hidden;
	background-attachment: local;
	position: absolute;
	z-index: -1;
	min-height: 210%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: repeat;

	&__star {
		position: absolute;
	}

	.star-first {
		left: calc(50% - 15px / 2 - 780px);
		top: calc(50% - 18px / 2 - 36px);
	}

	.star-second {
		left: calc(50% - 15px / 2 + 55px);
		top: calc(50% - 18px / 2 - 424px);
	}

	.star-third {
		left: calc(50% - 20px / 2 - 306px);
		top: calc(50% - 24px / 2 + 978px);
	}

	.star-fourth {
		left: calc(50% - 20px / 2 - 713px);
		top: calc(50% - 24px / 2 + 247px);
	}

	.star-fifth {
		left: calc(50% - 20px / 2 + 364px);
		top: calc(50% - 24px / 2 - 114px);
	}

	.star-sixth {
		left: calc(50% - 15px / 2 + 478.5px);
		top: calc(50% - 18px / 2 - 377px);
	}

	.star-seventh {
		left: calc(50% - 15px / 2 - 710.5px);
		top: calc(50% - 18px / 2 + 1174px);
	}

	.star-eighth {
		left: calc(50% - 15px / 2 + 149px);
		top: calc(50% - 18px / 2 - 58px);
	}

	.star-ninth {
		left: calc(50% - 15px / 2 + 500px);
		top: calc(50% - 18px / 2 - 45px);
	}

	.star-tenth {
		left: calc(50% - 15px / 2 - 500px);
		top: calc(50% - 18px / 2 - 345px);
	}

	.star-eleventh {
		left: calc(50% - 15px / 2 + 250px);
		top: calc(50% - 18px / 2 - 800px);
	}

	.star-twelfth {
		left: calc(50% - 15px / 2 - 350px);
		top: calc(50% - 18px / 2 + 400px);
	}

	.star-thirteenth {
		left: calc(50% - 15px / 2 + 400px);
		top: calc(50% - 18px / 2 + 500px);
	}

	.star-fourteenth {
		left: calc(50% - 15px / 2 + 600px);
		top: calc(50% - 18px / 2 - 600px);
	}

	.star-fifteenth {
		left: calc(50% - 15px / 2 - 700px);
		top: calc(50% - 18px / 2 + 700px);
	}

	.star-sixteenth {
		left: calc(50% - 15px / 2 + 800px);
		top: calc(50% - 18px / 2 + 800px);
	}

	.star-seventeenth {
		left: calc(50% - 15px / 2 - 900px);
		top: calc(50% - 18px / 2 - 900px);
	}

	.star-eighteenth {
		left: calc(50% - 15px / 2 + 1000px);
		top: calc(50% - 18px / 2 + 1000px);
	}
}
