@import "@app/styles/variables.scss";

.curator-application {

  &__heading {
    margin-top: 42px;
    margin-bottom: 24px;
  }

  &__application {
    margin-bottom: 8px;
    transition: 0.3s;
    position: relative;
    border: 1px solid transparent;
    border-radius: 8px;

    &:hover {
      border: 1px solid $primary-500;
      border-radius: 8px;
    }
  }

  &__info {
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__user-name {
    margin: 0;
    padding-top: 8px;
  }

  &__extra-content {
    right: 24px;
    top: 24px;
    position: absolute;
  }
}
