@import "@app/styles/variables.scss";

.galaxy {
  box-sizing: content-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 40px 0;

    &_context-title {
      color: $white;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      font: $font-text-regular;
    }

    &_galaxy-name {
      color: $white;
      font-size: 26px;
      line-height: 32px;
      font-weight: 400;
      font: $font-heading;
    }
  }

  &__background {
    filter: blur(50px);
    background: radial-gradient(50% 50% at 50% 50%,
            #090909 13.02%,
            #3C0B2C 39.58%,
            #2C0356 66.67%,
            #08213A 98.5%,
            transparent
    );
  }

  &__svg-container {
    align-self: self-start;
    justify-self: self-start;
    position: absolute;
    width: 100%;
  }

  &__connection-line {
    stroke: $white;
    stroke-width: 1px;

    &_orange-stroke-color {
      stroke: $primary-500;
    }

    &_green-stroke-color {
      stroke: #1A9234;
    }

    &_pink-stroke-color {
      stroke: #9D2892;
    }

    &_white-stroke-color {
      stroke: $white;
    }
  }
}
