@import "@app/styles/variables.scss";

.galaxy {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 40px 0;

    &_context-title {
      color: white;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      font: $font-text-regular;
    }

    &_galaxy-name {
      color: white;
      font-size: 26px;
      line-height: 32px;
      font-weight: 400;
      font: $font-heading;
    }
  }

  &__background {
    filter: blur(50px);
    background: radial-gradient(closest-side,
            $dark 0% 35%,
            rgba(68, 142, 166, 0.3) 35% 55%,
            rgba(57, 15, 187, 0.3) 55% 70%,
            rgba(207, 83, 53, 0.3) 70% 98.5%,
            transparent,
    );
  }

  &__svg-container {
    align-self: self-start;
    justify-self: self-start;
    position: absolute;
    width: 100%;
  }
}

.connection-line {
  stroke-width: 1px
}

.blue-stroke-color {
  stroke: $secondary-500;
}

.orange-stroke-color {
  stroke: $primary-500;
}

.white-stroke-color {
  stroke: $white;
}