@import "@app/styles/variables.scss";

.star {
  z-index: 0;
  cursor: pointer;
  border-radius: 99px;
  height: 80px;
  font-family: $font-montserrat;
  width: 80px;
  transition: 0.3s;
  background: $primary-500;

  &--color-black {
    outline: 1px solid $white;
    background: $dark;
  }

  &--color-white {
    background: $white;
  }

  &--color-primary-500 {
    outline: 1px solid $white;
    background: $primary-500;
  }

  &__info {
    z-index: 0;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    &--color-black {
      color: $white;
    }

    &--color-white {
      color: $black;
    }

    &--color-primary-500 {
      color: $black;
    }
  }

  &__orbit {
    padding: 5px;
    filter: opacity(0);
    margin-top: 5px;
    margin-right: 2px;
    position: absolute;
    transition: 0.3s;
    transform: scale(0.75);

    &:hover {
      filter: opacity(1);
      padding: 0px;
      transition: 0.3s;
      transform: scale(1);
    }
  }

  &__orbit-icon {
    color: $white;

    &--color-white {
      color: $white;
    }

    &--color-black {
      color: $white;
    }
  }
}
