@import '@app/styles/variables.scss';

.select-list {
    display: flex;
    flex-direction: column;
    margin: 24px auto;

    &__button-select {
        margin-bottom: 10px;
    }

    &__item {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        cursor: default;
        border-radius: 8px;
        padding: 26px 16px;
        height: 42px;
        transition: 0.2s;
        margin-top: 5px;

        &--selected {
            background-color: $gray-400;
        }

        &:hover {
            background-color: $gray-400;

            .select-list__name {
                font-family: $font-text-medium;
            }

            .select-list__button {
                transition: 0.2s;
                opacity: 1;
            }
        }
    }

    &__user,
    &__info {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__rating {
        transition: 0.2s;
        position: absolute;
        right: 24px;
        transition: 0.2s;
        opacity: 1;

        &--hide {
            position: absolute;
            right: 0px;
            pointer-events: none;
            opacity: 0;
        }
    }

    &__button {
        margin-right: 65px;
        opacity: 0;
        transition: 0.3s;

        &--visible {
            margin-right: 0px;
            opacity: 1;
        }
    }

    &__submit-selected {
        margin-top: 16px;
        align-self: center;
    }

}