@import "@app/styles/variables.scss";

.explorer {
  overflow: overlay;
  position: absolute;
  color: $white;
  width: 100%;
  height: 100%;
  background-attachment: local;
  background-image: url(../../shared/images/profileBG.png);
  background-size: 100%;
  background-color: $dark;

  &__container {
    margin: 40px auto 40px auto;
  }

  &__profile {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__rating-heading,
  &__completed-stars-heading,
  &__current-star-heading {
    margin-top: -2px;
    margin-bottom: 24px;
  }
}
