@import "@app/styles/variables.scss";

.shining-star {
  color: $white;

  animation-name: shine;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;

  @keyframes shine {
    from {
      transform: scale(1);
    }
    10% {
      color: $shine;
      transform: scale(1.35);
    }
    25% {
      color: $white;
      transform: scale(1);
    }
  }
}
