@import "@app/styles/variables.scss";

.profile-info {
  display: flex;

  .profile-description {
    margin-left: 40px;

    &__name {
      margin-top: 4px;
      margin-bottom: 24px;
    }

    .profile-rating {
      display: flex;
      gap: 16px;

      &__text {
        margin-bottom: 4px;
      }

      &__current-rating {
        align-items: center;
        gap: 6px;
      }

      &__current-rating-text,
      &__stars {
        margin: 0;
      }
    }
  }
}
