@import "@app/styles/variables.scss";

.profile-info {
  display: flex;

  &__description {
    margin-left: 40px;
  }

  &__description-name {
    margin-top: 4px;
    margin-bottom: 24px;
  }

  &__rating {
    display: flex;
    gap: 16px;
  }

  &__heading {
    margin-bottom: 4px;
  }

  &__current-rating {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__current-score {
    align-items: center;
    gap: 6px;
  }

  &__current-score,
  &__completed-stars {
    margin: 0;
  }
}
