@import "@app/styles/variables.scss";

.completed-stars {
  color: $white;
  display: flex;
  gap: 24px;
  font-size: 12px;

  &__label {
    margin-top: 5px;
    margin-bottom: 8px;
  }

  &__star-rating {
    display: flex;
    align-items: center;
  }

  &__star-rating-score {
    font-size: 10px;
    margin: 0 2px 0 4px;
  }
}
