@import "@app/styles/variables.scss";

.current-star-card {
  position: relative;
  color: $white;
  transition: 1s;
  border-radius: 8px;
  border: 1px solid transparent;

  &:hover {
    transition: 1s;
    border-radius: 8px;
    border: 1px solid $primary-500;
  }

  &__heading {
    margin-top: 8px;
    margin-bottom: 0px;
  }

  &__current-star,
  &__current-curator {
    margin: 8px 0;
  }

  &__current-curator {
    margin-bottom: 24px;
  }

  &__progress {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 16px;
    color: $primary-500;
    margin-bottom: 8px;
  }

  &__buttons {
    position: absolute;
    display: flex;
    top: 24px;
    right: 24px;
    gap: 16px;
  }
}
