@import '@app/styles/variables.scss';

.current-star-card {
    color: $white;
    border-radius: 8px;
    position: relative;

    &:hover {
        .current-star-card__buttons {
            opacity: 1;
        }
    }

    &__heading {
        margin-top: 2px;
        margin-bottom: 10px;
    }

    &__current-curator {
        margin: 8px 0;
    }

    &__progress {
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: 16px;
        color: $primary-500;
    }

    &__buttons {
        transition: 0.3s;
        opacity: 0;
        position: absolute;
        display: flex;
        right: 24px;
        gap: 16px;
    }
}