@import '@app/styles/variables.scss';

.spinner {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: $opacity-dark;

    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}