.set-grade {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__button-send-grade {
    display: grid;
    opacity: 0;

    &--active {
      animation: showButtons .5s;
      animation-fill-mode: forwards;
    }

    &--inactive {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__comment {
    animation: showButtons .5s;
    animation-fill-mode: forwards;
  }
}

@keyframes showButtons {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
