@import '@app/styles/variables.scss';

.keepers {
    color: $white;
    background-image: url('../../shared/images/list-bg.png');
    background-size: cover;

    &__sort-panel {
        display: flex;
        margin-bottom: 40px;
        gap: 16px;
        flex-wrap: wrap;
    }
}
