@import "@app/styles/variables.scss";

.required-list {
  font-family: $font-text-medium;

  &__item  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    border-radius: 8px;
    padding: 8px 16px;
    transition: 0.2s;

    &:hover {
      .required-list__name  {
        margin-left: 2rem;
      }

      .required-list__star-icon  {
        color: $primary-500;
      }

      .required-list__button {
        transition: 0.1s;
        opacity: 1;
      }
    }
  }

  &__star {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__star-icon {
    transition: 0.2s;
    transform: scale(1.3);
    color: $gray-600;
  }

  &__name {
    transition: 0.2s ease-in-out;
    color: $black;
  }

  &__button {
    opacity: 0;
    transition: 0.1s;

    &--visible {
      opacity: 1;
    }
  }
}