@import "@/app/styles/variables.scss";

.arrow-button--right {
  transform: rotate(180deg);
}

.arrow-button--top {
  transform: rotate(90deg);
}

.arrow-button--bottom {
  transform: rotate(270deg);
}

.arrow-button {
  transform: rotate(0);
  margin-top: 0px;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    &__arrow {
      transition: 0.2s;
      padding-left: 10px;
    }

    &__circle {
      opacity: 1;
    }
  }

  &__arrow {
    margin-left: 5px;
    z-index: 1;
    transition: 0.2s;
  }

  &__circle {
    position: absolute;
    opacity: 0;
    background-color: $primary-500;
    padding: 20px;
    border-radius: 99px;
    transition: 0.2s;
  }
}
