@import '@app/styles/variables.scss';

.explorer-card-user-info {
    display: flex;
    flex-wrap: wrap;

    &__description {
        margin-left: 42px;
        margin-top: 4px;
    }

    &__cards {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
    }
}