@import '@app/styles/variables';

.education-application {
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__heading {
        margin-top: 2px;
    }
}
