@import '@app/styles/variables.scss';

.keeper-card-user-info {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  &__description {
    margin-top: 4px;
  }

  &__cards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 13px;
  }
}
