@import '@app/styles/variables.scss';

.grade-application {
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__heading {
        margin-top: 2px;
    }
}