.mark-request-item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__mark-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    animation: markRequestWrapperAnimation .3s;
  }

  &__mark-text {
    margin-top: 0.25em;
  }
}

@keyframes markRequestWrapperAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}