@import "@app/styles/variables.scss";

.review-card {
  border-radius: 8px;
  cursor: default;

  &:hover {
    .review-card__expand {
      cursor: pointer;
      color: $primary-500;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__cards {
    display: grid;
    gap: 24px;
  }

  &__user {
    margin: 16px 0;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__review {
    height: 115px;
  }

  &__review-text {
    margin: 0;
  }
}
