@import "@app/styles/variables.scss";

.progress-bar {
  margin-top: 14px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__dot {
    height: 6px;
    width: 6px;
    margin-left: -8px;
    border-radius: 10px;
    background-color: $primary-500;
  }

  &__icon {
    padding: 5px;
    background-color: $black;
    position: absolute;
  }

  &__line {
    width: 900%;
    height: 2px;
    background-image: $progress-bar-gradient;
    background-size: 30px;
    border: none;
  }
}
