.rocket-line-container {
  display: flex;
  margin-top: 6px;
  width: 100%;
  justify-content: center;
  align-items: center;

  .rocket-image {
    margin-top: 10px;
    padding: 5px;
    background-color: #1f1f1f;
    position: absolute;
  }

  .rocket-line-container__dot {
    height: 6px;
    width: 6px;
    margin-left: -8px;
    border-radius: 10px;
    background-color: #cf5335;
  }

  .line {
    width: 900%;
    height: 2px;
    background-image: linear-gradient(
        90deg,
        transparent,
        transparent 50%,
        #1f1f1f 50%,
        #1f1f1f 100%
      ),
      linear-gradient(#cf533580, #cf533580);
    background-size: 30px;
    border: none;
  }
}
