@import "@/app/styles/variables.scss";

.button-big {
  color: $white;
  background-color: transparent;
  border: 1px solid $white;

  &:hover {
    color: $black;
    background-color: $white;
  }
}

.button-big--filled {
  color: $white;
  background-color: $primary-500;
  border: 1px solid $primary-500;

  &:hover {
    border: 1px solid #b82e0c;
    background-color: #b82e0c;
  }
}

.button-big--orange {
  color: $white;
  background-color: transparent;
  border: 1px solid $primary-500;

  &:hover {
    border: 1px solid $primary-500;
    background-color: $primary-500;
  }
}

.button-big--black {
  color: $white;
  background-color: transparent;
  border: 1px solid $primary-500;

  &:hover {
    background-color: $primary-500;
  }
}

.button-big,
.button-big--filled,
.button-big--orange,
.button-big--black {
  cursor: pointer;
  text-align: center;
  font-family: $font-montserrat;
  margin-top: 16px;
  padding: 16px 40px;
  border-radius: 56px;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
  }
}
