.button-big {
  color: #fbf9ff;
  background-color: transparent;
  border: 1px solid #fbf9ff;

  &:hover {
    color: #0b0b0b;
    background-color: #fbf9ff;
  }
}

.button-big--filled {
  color: #fbf9ff;
  background-color: #cf5335;
  border: 1px solid #cf5335;

  &:hover {
    border: 1px solid #b82e0c;
    background-color: #b82e0c;
  }
}

.button-big--orange {
  color: #fbf9ff;
  background-color: transparent;
  border: 1px solid #cf5335;

  &:hover {
    border: 1px solid #cf5335;
    background-color: #cf5335;
  }
}

.button-big--black {
  color: #fbf9ff;
  background-color: transparent;
  border: 1px solid #cf5335;

  &:hover {
    background-color: #cf5335;
  }
}

.button-big,
.button-big--filled,
.button-big--orange,
.button-big--black {
  cursor: pointer;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 16px;
  padding: 16px 40px;
  border-radius: 56px;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
  }
}
