@import "@/app/styles/variables.scss";

.rating-card {
  font-size: 14px;

  .my-rating {
    max-width: 342px;

    .my-rating__heading {
      font-size: 16px;
    }

    .my-rating-info {
      margin-top: 20px;
      margin-bottom: 24px;
      display: flex;
      align-items: center;
    }

    .my-rating-info__user-name {
      padding: 0 24px 0 15px;
    }

    .my-rating-info__user-score {
      display: flex;
      color: $primary-500;
      align-items: center;
    }

    .my-rating-info__user-score-num {
      margin-left: 5px;
      color: white;
    }
  }

  .general-rating__heading {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
