@import "@app/styles/variables.scss";

.rating-card {
  .my-rating {
    max-width: 342px;

    &__heading {
      margin-top: 8px;
    }

    .my-rating-info {
      margin-top: 24px;
      margin-bottom: 24px;
      display: flex;
      align-items: center;

      &__user-name {
        padding: 0 24px 0 15px;
      }

      &__user-score {
        display: flex;
        color: $primary-500;
        align-items: center;
      }

      &__user-score-num {
        margin-left: 5px;
        color: white;
      }
    }
  }

  .general-rating__heading {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
