@import '@app/styles/variables.scss';

.curator-card-user-info {
    display: flex;

    &__description {
        margin-left: 40px;
        margin-top: 4px;
    }

    &__cards {
        display: flex;
        gap: 16px;
    }
}
