@import "src/app/styles/variables";

.textarea {
  min-width: 10px;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  transition: .2s;
  outline-color: transparent;
  font-size: 16px;

  &:focus {
    outline: 1px solid $white;
  }

  &--fullwidth {
    width: 100%;
  }

  &--color-black {
    color: $white;
    background-color: $black;
  }

  &--color-white {
    color: $black;
    background-color: $white;
  }


  &--size-middle {
    height: 10em;
  }

  &--size-large {
    height: 20em;
  }

  &::placeholder {
    color: white;
    opacity: 0.6;
  }
}