@import "src/app/styles/variables";

.textarea {
  min-width: 10px;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  transition: .2s;
  font-size: 16px;
  border: 1px solid $gray-600;
  outline: 0;


  &--fullwidth {
    width: 100%;
  }

  &--color-black {
    color: $white;
    background-color: $black;

    &::placeholder {
      color: white;
      opacity: 0.6;
    }

    &:focus {
      border: 1px solid $white;
    }
  }

  &--color-white {
    color: $black;
    background-color: $white;

    &:focus {
      border: 1px solid $black;
    }

    &::placeholder {
      color: $black;
      opacity: 0.6;
    }
  }


  &--size-middle {
    height: 10em;
  }

  &--size-large {
    height: 20em;
  }

}