@import '@app/styles/variables.scss';

.drawer-menu {
    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    @media screen and (min-width: $drawerMenuAdaptiveWidth) {
        display: none;
    }

    &__menu-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 3px 10px;
        margin-bottom: 10px;

        &:hover {
            background-color: $primary-500;
        }

        &--sign-out {
            border-top: 2px solid $opacity-gray;
            padding-top: 10px;
        }

        &--active {
            background-color: $opacity-primary-500;
        }
    }

    &__arrow-button {
        // position: absolute;
        // right: 0;
        // top: 0;
        // transform: translate(-50%, -50%);
    }

    &__arrow-button-wrapper {
        border-bottom: 2px solid $opacity-gray;
        margin-bottom: 10px;
    }
}
