@import "@app/styles/variables";

.homework-request-page {
  padding-bottom: 30px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__homework {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__homework-content {
    text-indent: 40px;
  }
}