@import "@app/styles/variables";

.homework-request-page {
  &__grade-wrapper {
    display: flex;
    width: 100%;
    gap: 10px;
    height: 140px;
    align-items: center;
  }

  &__send-homework-field {
    height: 100px;
    width: 100%;
    resize: none;
    padding: 20px;
  }

}