.homework-issues {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;

  &__title {

  }

  &__content {
  }

  &__content, &__title {
    text-indent: 40px;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-wrap: break-word;
    word-break: break-word;
  }
}