@import '@app/styles/variables.scss';

.application-education-card {
    position: relative;
    outline: 1px solid transparent;

    @media screen and (min-width: 670px) {
        &:hover {
            .application-education-card {
                &__buttons {
                    opacity: 1;
                    pointer-events: all;
                    right: 0;
                }

                &__extra-content {
                    display: flex;
                    align-items: center;
                    position: relative;
                }

                &__rating {
                    position: relative;
                    margin-right: 330px;
                    margin-top: 32px;
                    opacity: 0;
                }

                &__user-name {
                    color: $primary-500;
                }
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 670px) {
            display: flex;
            flex-direction: column;
            opacity: 1;
        }
    }

    &__info {
        display: flex;
        gap: 24px;
    }

    &__about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }

    &__user-name {
        transition: 0.2s;
        margin: 0;
    }

    &__extra-content {
        display: flex;
        align-items: center;
        position: absolute;
        gap: 16px;
        right: 0;
        transition: 0.2s;

        @media screen and (max-width: 670px) {
            display: flex;
            align-items: center;
            position: relative;
            margin-top: 20px;
            flex-wrap: wrap;
        }
    }

    &__rating {
        transition: 0.2s;
        position: relative;
        right: 24px;
        bottom: 16px;

        @media screen and (max-width: 670px) {
            position: relative;
            top: 0;
            left: 0;
        }
    }

    &__buttons {
        pointer-events: none;
        transition: 0.2s;
        opacity: 0;
        position: absolute;
        right: -450px;
        display: flex;
        gap: 16px;

        @media screen and (max-width: 670px) {
            position: relative;
            right: 0;
            opacity: 1;
        }
    }
}
